@import url("https://use.typekit.net/kgg7ybw.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: lores-12-narrow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
  cursor: url('/images/png/bgcursor.png'), auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #5C2218;
}

img {
  user-select: none;
}

.glowFlame {
  top: 24vh;
  left: 49.7%;
  transform: translateX(-50%);
}

.glowRock {
  top: 22vh;
  left: 49.5%;
}

.altar {
  width: 80vw;
}


@media screen and (min-width: 1200px) {
  .glowFlame {
    top: 24vw;
  }
  .glowRock {
    top: 20vh;
  }
}

@media screen and (min-width: 1600px) {
  .glowFlame {
    top: 26.5vw;
  }
  .glowRock {
    top: 31.5vw;
  }
}

@media screen and (min-height: 2160px) {
  .glowFlame {
    top: 24vh;
  }
  .glowRock {
    top: 28vh;
  }
}

@media screen and (min-height: 2160px) and (max-width: 1900px) {
  .glowFlame {
    top: 27vw;
  }
  .glowRock {
    top: 31vw;
  }
}

@media screen and (min-height: 2160px) and (max-width: 1700px) {
  .glowFlame {
    top: 25vw;
  }
  .glowRock {
    top: 29vw;
  }
}

@media screen and (min-height: 2160px) and (max-width: 1500px) {
  .glowFlame {
    top: 23vw;
  }
  .glowRock {
    top: 28vw;
  }
}

@media screen and (min-height: 2160px) and (max-width: 1200px) {
  .glowFlame {
    top: 24.3vw;
    max-width: 300px;
  }
  .glowRock {
    top: 32vw;
    max-width: 3rem;
  }
}

@media screen and (min-height: 1440px) and (min-width: 1900px) {
  .glowFlame {
    top: 37vh;
  }
  .glowRock {
    top: 42vh;
  }
}

@media screen and (min-height: 1440px) and (max-width: 1700px) {
  .glowFlame {
    top: 25vw;
  }
  .glowRock {
    top: 30vw;
  }
}

@media screen and (min-height: 1440px) and (max-width: 1500px) {
  .glowFlame {
    top: 26.5vw;
    max-width: 300px;
  }
  .glowRock {
    top: 31vw;
    max-width: 4rem;
  }
}

@media screen and (min-height: 1440px) and (max-width: 1200px) {
  .glowFlame {
    top: 24.3vw;
    max-width: 300px;
  }
  .glowRock {
    top: 30vw;
    max-width: 3rem;
  }
}

@media screen and (min-width: 3800px) {
  .glowFlame {
    top: 24vh;
  }
  .glowRock {
    top: 28vh;
  }
}

@media screen and (max-height: 900px)  {
  .glowFlame {
    top: 48vh;
  }
  .glowRock {
    top: 60vh;
  }
  .altar {
    width: 60vw;
  }
}
